.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  max-width: 50em;
}
.twoEle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  justify-content: center;
}
td {
  font-size: large;
}
table {
  margin: auto;
}

.num-card {
  flex-grow: 1;
}

.num-label {
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.num-val {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
