.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.twoEle {
  display: flex;
  justify-content: space-around;
}
td {
  font-size: large;
}
table {
  margin: auto;
}
