.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.file-input {
  display: none;
}

pre {
  overflow-y: scroll;
  padding: 0em 2em;
  max-height: 30em;
}
