<div class="main">
  <br />
  <form
    class="sp-form"
    [formGroup]="spFormGroup"
    #fgGroupDirective="ngForm"
    *ngIf="!searched"
  >
    <fieldset>
      <legend>Your Target Numbers</legend>
      <mat-form-field appearance="fill">
        <mat-label>Destiny Number</mat-label>
        <input matInput type="text" formControlName="d_n" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Soul Number</mat-label>
        <input matInput type="text" formControlName="s_n" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Personality Number</mat-label>
        <input matInput type="text" formControlName="p_n" />
      </mat-form-field>
    </fieldset>
    <fieldset>
      <legend>Fixed String</legend>
      <mat-form-field appearance="fill">
        <mat-label>Prefix</mat-label>
        <input matInput type="text" formControlName="prefix" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Suffix</mat-label>
        <input matInput type="text" formControlName="suffix" />
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
      <mat-label>tolerance</mat-label>
      <input matInput type="text" formControlName="tolerance" />
    </mat-form-field> -->
      <button
        mat-raised-button
        color="primary"
        *ngIf="spFormGroup.valid"
        (click)="fetchSuggestions()"
      >
        Get Suggestions
      </button>
    </fieldset>
  </form>
  <br />
  <div class="result" *ngIf="searched">
    <h2>Suggested Names</h2>
    <div class="result-form">
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. daisy"
          #input
        />
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        aria-label="edit the numbers again"
        (click)="back()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Compound Number Column -->
        <ng-container matColumnDef="Compound Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Compound Number
          </th>
          <td mat-cell *matCellDef="let row">{{ row.compund_number }}%</td>
        </ng-container>

        <!-- Soul Number Column -->
        <ng-container matColumnDef="Soul Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Soul Number</th>
          <td mat-cell *matCellDef="let row">{{ row.s_n }}%</td>
        </ng-container>

        <!--Personality Number Column -->
        <ng-container matColumnDef="Personality Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Personality Number
          </th>
          <td mat-cell *matCellDef="let row">{{ row.p_n }}</td>
        </ng-container>

        <!-- Destiny Number Column -->
        <ng-container matColumnDef="Destiny Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Destiny Number
          </th>
          <td mat-cell *matCellDef="let row">{{ row.d_n }}</td>
        </ng-container>

        <!-- Domain Name Availability Column -->
        <ng-container matColumnDef="Domain Name Availability">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Domain Name Availability
          </th>
          <td mat-cell *matCellDef="let row">{{ row.d_nm }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data-cell" colspan="6">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
