<div class="welcome">
  <spin-loader *ngIf="!loaded"></spin-loader>
  <mat-card class="my-card" *ngIf="loaded">
    <mat-card-header>
      <div
        mat-card-avatar
        class="header-image"
        [ngStyle]="{ 'background-image': labels.icon }"
      ></div>
      <mat-card-title [innerText]="labels.title"></mat-card-title>
      <mat-card-subtitle [innerText]="labels.hint"></mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ labels.bg }}"
      alt="Photo of a Numerology logo"
    />
    <mat-card-content>
      <p [innerText]="labels.desc"></p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="hush ? auth.googleSignin() : auth.mySign()"
        [innerText]="hush ? 'Login' : 'Begin'"
      ></button>
    </mat-card-actions>
  </mat-card>
</div>
