.my-card {
  max-width: 400px;
}

.header-image {
  // background-image: ;
  background-size: cover;
}
.welcome {
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}
